{
    "presets": [
        "babel-plugin-transform-es2015-modules-simple-commonjs",
        [
            "@babel/preset-env",
            {
                "bugfixes": true,
                "loose": true
            }
        ]
    ]
}